{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="my-3 my-md-5">

    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Devices List
            </h1>
        </div>
        <div class="row row-cards row-deck">
            <div class="col-12
            z">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Devices</h3>
                        <!--Show msg_error and msg_ok-->
                        {% if msg_error %}
                        <div class="alert alert-danger" role="alert">
                            {{ msg_error }}
                        </div>
                        {% endif %}
                        {% if msg_ok %}
                        <div class="alert alert-success" role="alert">
                            {{ msg_ok }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th class="w-1">No.</th>
                                    <th>Device Name</th>
                                    <th>Device Type</th>
                                    <th>Lane 1</th>
                                    <th>Lane 2</th>
                                    <th>Lane 3</th>
                                    <th>Lane 4</th>
                                    <th>Lane 5</th>
                                    <th>Lane 6</th>
                                    <th>Lane 7</th>
                                    <th>Lane 8</th>
                                    <th>State</th>
                                    <th>City</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list %}
                                <tr>
                                    <td><span class="text-muted">{{ item.id }}</span></td>
                                    <td><a href="#" class="text-inherit">{{ item.name }}</a></td>
                                   <td>
                                       {{ item.device_type }}
                                   </td>
                                    <td>
                                        {{ item.lane_1 }}
                                        <!-- Toogle switch for enable_1 -->
                                        <!-- If enable_1 is -->
                                        
                                        <div class="toggle-switch toggle-switch-success">
                                            <!--UpdateEnable -->
                                            <input type="checkbox"
                                                {% if item.enable_1 == 1 %}
                                                checked
                                                {% endif %}
                                                id="enable_1_{{ item.id }}"
                                                data-id="{{ item.id }}"
                                                data-type="enable_1"
                                                class="toggle-switch-chec1"
                                                onchange="updateStatus(this)">
                                                
                                                
                                            <label for="enable_1_{{ item.id }}"></label>
                                        </div>      
                                        </div>
                                    </td>
                                    <td>
                                        {{ item.lane_2 }}
                                        <div class="toogle-switch toogle-switch-success">
                                            <!-- Toogle switch for enable_2-->
                                            <input type="checkbox"
                                                {% if item.enable_2 == 1 %}
                                                checked
                                                {% endif %}
                                                id="tgBTN2"
                                                data-id="{{ item.id }}"
                                                data-type="enable_2"
                                                class="toggle-switch-chec2"
                                                onchange="updateStatus(this)">
                                                
                                                
                                            <label for="enable_2_{{ item.id }}"></label>
                                        </div>

                                    </td>
                                    <td>
                                        {{ item.lane_3 }}
                                         <!-- Toogle enable_3 switch  and on change update the status to the database-->                                                                           
                                        <div class="toggle-switch toggle-switch-success">
                                            <input type="checkbox"
                                                {% if item.enable_3 == 1 %}
                                                checked
                                                {% endif %}
                                                id="tgBTN3"
                                                data-id="{{ item.id }}"
                                                data-type="enable_3"
                                                onchange="updateStatus(this)"
                                                class="toggle-switch-chec3"
                                            >
    
                                            <label for="enable_3_{{ item.id }}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        {{ item.lane_4 }}
                                        <!-- Toogle enable_4 switch -->
                                        <!-- onchange update the status using a for-loop-->
                                        <div class="toggle-switch toggle-switch-success">
                                            <input type="checkbox"
                                                {% if item.enable_4 == 1 %}
                                                checked
                                                {% endif %}
                                                id="enable_4_{{ item.id }}"
                                                data-id="{{ item.id }}"
                                                data-type="enable_4"
                                                onchange="updateStatus(this)"
                                                class="toggle-switch-chec4"
                                            >
    
                                            <label for="enable_4_{{ item.id }}"></label>
                                        </div>
         
                                    </td>

                                    <td>
                                        {{ item.lane_5 }}
                                        <!-- Toogle enable_4 switch -->
                                        <!-- onchange update the status using a for-loop-->
                                        {% if item.lane_5 != null %}
                                        <div class="toggle-switch toggle-switch-success">
                                            <input type="checkbox"
                                                {% if item.enable_5 == 1 %}
                                                checked
                                                {% endif %}
                                                id="tgBTN5"
                                                data-id="{{ item.id }}"
                                                data-type="enable_5"
                                                onchange="updateStatus(this)"
                                                class="toggle-switch-chec5"
                                            >
    
                                            <label for="enable_5_{{ item.id }}"></label>
                                            
                                        </div>
                                        {% endif %}
      
         
                                    </td>
                                    <td>
                                        {{ item.lane_6 }}
                                        <!-- Toogle enable_4 switch -->
                                        <!-- onchange update the status using a for-loop-->
                                        {% if item.lane_6 != null %}
                                        <div class="toggle-switch toggle-switch-success">
                                            <input type="checkbox"
                                                {% if item.enable_6 == 1 %}
                                                checked
                                                {% endif %}
                                                id="tgBTN6"
                                                data-id="{{ item.id }}"
                                                data-type="enable_6"
                                                onchange="updateStatus(this)"
                                                class="toggle-switch-chec6"
                                            >
    
                                            <label for="enable_6_{{ item.id }}"></label>
                                            
                                        </div>
                                        {% endif %}
      
         
                                    </td>

                                    <td>
                                        {{ item.lane_7 }}
                                        <!-- Toogle enable_4 switch -->
                                        <!-- onchange update the status using a for-loop-->
                                        {% if item.lane_7 != null %}
                                        <div class="toggle-switch toggle-switch-success">
                                            <input type="checkbox"
                                                {% if item.enable_7 == 1 %}
                                                checked
                                                {% endif %}
                                                id="tgBTN7"
                                                data-id="{{ item.id }}"
                                                data-type="enable_7"
                                                onchange="updateStatus(this)"
                                                class="toggle-switch-chec7"
                                            >
    
                                            <label for="enable_7_{{ item.id }}"></label>
                                            
                                        </div>
                                        {% endif %}
      
         
                                    </td>


                                    <td>
                                        {{ item.lane_8 }}
                                        <!-- Toogle enable_4 switch -->
                                        <!-- onchange update the status using a for-loop-->
                                        {% if item.lane_8 != null %}
                                        <div class="toggle-switch toggle-switch-success">
                                            <input type="checkbox"
                                                {% if item.enable_8 == 1 %}
                                                checked
                                                {% endif %}
                                                id="tgBTN8"
                                                data-id="{{ item.id }}"
                                                data-type="enable_8"
                                                onchange="updateStatus(this)"
                                                class="toggle-switch-chec8"
                                            >
    
                                            <label for="enable_8_{{ item.id }}"></label>
                                            
                                        </div>
                                        {% endif %}
      
         
                                    </td>


                                    
                                    <td>
                                        {{ item.city }}
                                    </td>
                                    <td>
                                        {{ item.state }}
                                    </td>
                                    <td>{% if item.enable %}
                                        <span class="status-icon bg-success"></span>
                                        {% else %}
                                        <span class="status-icon bg-warning"></span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <!--<a href="" class="btn btn-secondary btn-sm">Edit</a>-->
                                        {% if request.user.is_advanceduser  %}
                                        <!--link top open modal -->
                                        <a data-target="#modal-{{item.id}}" data-toggle="modal" class="btn btn-sm btn-secondary" id="">
                                            <i class="fe fe-edit"></i>  Lanes
                                        </a>

                                        {% endif %}
                                    </td>
                                    
                                    <td class="text-right">
                                        {% if request.user.is_admin %}
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-check"></i> Approve</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-times"></i> Reject</a>
                                                    <div class="dropdown-divider"></div> -->
                                                    <a class="dropdown-item" href="/device/edit/{{item.id}}"><i class="fe fe-edit"></i> Edit</a>
                                                    <a class="dropdown-item" href="/delete/{{item.id}}"><i class="fa fa-fw fa-trash"></i> Delete</a>
                                                </div>
                                            </div>
                                        {% endif %}




                                        {% if request.user.normal_user or request.user.advanced_user %}                                       
                                            <div class="row">
                                                <!--user_devices loop where if the device isnt connected return paragraph null-->
                                                
                                                   
                                                  
                   
   
                                     
                       
                                         


                                                    
                                                    <!--check if device name id is null-->
                                                    

                                                    
                                                     
                            

  



                                                

                   


                                            </div>
                                        {% endif %}
                                    </td>
                                    
                                </tr>
                                <!--Bootstrap Modal for changing lanes-->
                                <div class="modal fade" id="modal-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title" id="modal-title-default">Change Lanes of device {{item.name}} </h6>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <!-- <span aria-hidden="true">×</span> -->
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <!--form action to hit url changeLane-->
                                                    <form action="/device/changeLane/{{item.id}}/" method="POST" id="device-change-lanes">
                                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                                        <input type="hidden" name="_method" value="PUT">
                                                        <!--rows with columns-->
                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group ">
                                                                    <label for="example-text-input" class="col-form-label">Lane 1</label>
                                                                    <!--get the value of the lane according to id-->
                                                                    <input class="form-control" type="text" value="{{item.lane_1}}" id="example-text-input" name="lane_1">
                                                                    
                                                                        
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="col-form-label">Lane 2</label>
                                                                    <input class="form-control" type="text" value="{{item.lane_2}}" id="example-text-input" name="lane_2">
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="col-form-label">Lane 3</label>
                                                                    <input class="form-control" type="text" value="{{item.lane_3}}" id="example-text-input" name="lane_3">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="col-form-label">Lane 4</label>
                                                                    <input class="form-control" type="text" value="{{item.lane_4}}" id="example-text-input" name="lane_4">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            {% if item.lane_5 != null %}
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="col-form-label">Lane 5</label>
                                                                    <input class="form-control" type="text" value="{{item.lane_5}}" id="example-text-input" name="lane_5">

                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            {% if item.lane_6 != null %}

                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="col-form-label">Lane 6</label>
                                                                    <input class="form-control" type="text" value="{{item.lane_6}}" id="example-text-input" name="lane_6">
                                                                </div>
                                                            </div>                                                       
                                                           {% endif %}
                                                                                                                     
                                                        </div>

                                                        <div class="row">
                                                            {% if item.lane_7 != null %}
                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="col-form-label">Lane 7</label>
                                                                    <input class="form-control" type="text" value="{{item.lane_7}}" id="example-text-input" name="lane_7">
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            {% if item.lane_8 != null %}

                                                            <div class="col-md-6 col-lg-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="col-form-label">Lane 8</label>
                                                                    <input class="form-control" type="text" value="{{item.lane_8}}" id="example-text-input" name="lane_8">
                                                                </div>
                                                            </div>                                                       
                                                           {% endif %}
                                                                                                                     
                                                        </div>

                                                


                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                                                            <input type="submit" class="btn btn-primary" value="Save changes">
                                                        </div>
                                                    </form>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                                            





                                {% endfor %}


                            </tbody>
                        </table>
                        <script>
                            require(['datatables', 'jquery'], function (datatable, $) {
                                $('.datatable').DataTable();
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="bottombar js-bottombar" style="display: none">
        <a href="#" class="bottombar-close js-bottombar-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </a>
        <div class="container position-relative d-flex align-items-center">
            <a href="https://gumroad.com/l/tabler-email?utm_source=demo" class="bottombar-image">
                <picture>
                    <source srcset="https://tabler.io/img/bottombar.webp" type="image/webp">
                    <source srcset="https://tabler.io/img/bottombar.png" type="image/jpeg">
                    <img src="https://tabler.io/img/bottombar.png" alt="">
                </picture>
            </a>
            <div class="d-lg-flex flex-fill align-items-center">
                <div class="mr-2">
                    50 eye-catching templates tested in 90+ email clients. Compose your own, mobile optimized email
                    message in less than 5 minutes!
                </div>
                <div class=" ml-auto mt-2 mt-lg-0">
                    <a href="https://gumroad.com/l/tabler-email?utm_source=demo"
                        class="btn btn-sm btn-green text-nowrap" target="_blank">More info</a>
                </div>
            </div>
        </div>
    </div>

</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    //listen to the onchange  event of a checkbox
  

</script>


<script>

    //UPDATE STATUS OF SPECIFIC DEVICE ACCORDING TO ITS ID




    

    function updateStatus(element ) {

        var id = $(element).data('id');
        console.log(id);    
        var type = $(element).data('type');
        // var url = "/device/update/" + id ;


    
       

        //get value of check box enable_1
        var enable_1 = $(".toggle-switch-chec1").is(':checked');
        var enable_2 = $("#tgBTN2").is(":checked");     
        var enable_3 = $("#tgBTN3").is(':checked');     
        var enable_4 = $(".toggle-switch-chec4").is(':checked');
        var enable_5 = $("#tgBTN5").is(':checked'); 
        var enable_6 = $("#tgBTN6").is(':checked'); 
        var enable_7 = $("#tgBTN7").is(':checked');
        var enable_8 = $("#tgBTN8").is(':checked'); 
       
       // do operations on only the targetted id


        //Change the staus depending on the object clicked
        //create an  empty array
        var checkData = {};
        if(type == 'enable_1')
        {
            if(enable_1 == true){
                console.log('enable_1 is true')
                //set only toogle switches that match the id of the clicked object to false
                //only change the enable_2, enable_3 and enable_4 to false for the specific id

                checkData['enable_1'] = true;

                $.each($(".toggle-switch-chec2"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_2'] = false;

                    }
                });

                $.each($(".toggle-switch-chec3"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_3'] = false;

                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_4'] = false;
                    }
                });
                //store the value in the data array
                
                            
           }
           else{
               console.log("enable 1 is false")
               checkData['enable_1'] = false
               checkData['enable_2'] = false
               checkData['enable_3'] = false
               checkData['enable_4'] = false
           }

        }
        else if(type == 'enable_2')
        {
            if(enable_2 == true){
                //set only toogle switches that match the id of the clicked object to false
                //only change the enable_1, enable_3 and enable_4 to false for the specific id


                $.each($(".toggle-switch-chec1"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_1'] = false;

                    }
                });

                checkData['enable_2'] = true;

                $.each($(".toggle-switch-chec3"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_3'] = false;

                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_4'] = false;
                    }
                });
                //store the value in the data array
                
                            
           }
           else{
               console.log("Enable 2 is false")
                checkData['enable_1'] = false
                checkData['enable_2'] = false
                checkData['enable_3'] = false
                checkData['enable_4'] = false
           }

        }
     
        else if (type == 'enable_3')
        {
            console.log('third choice')
            if(enable_3 == true){
                console.log('enable_3 is true');
                $.each($(".toggle-switch-chec1"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_1'] = false;
                    }
                });

                $.each($(".toggle-switch-chec2"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_2'] = false;
                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_4'] = false;
                        
                    }
                });
                //store the value in the data array
                checkData['enable_3'] = true;
            }
            else
            {
                checkData['enable_1'] = false
                checkData['enable_2'] = false
                checkData['enable_3'] = false
                checkData['enable_4'] = false
            }
        }
        else if (type == 'enable_4')
        {
            if(enable_4 == true){
                console.log('enable_4 is true');
                $.each($(".toggle-switch-chec1"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_1'] = false;
                    }
                });

                $.each($(".toggle-switch-chec2"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_2'] = false;
                    }
                });

                $.each($(".toggle-switch-chec3"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_3'] = false;
                        
                    }
                });
                //store the value in the data array
                checkData['enable_4'] = true;
            }
            else
            {
                checkData['enable_1'] = false
                checkData['enable_2'] = false
                checkData['enable_3'] = false
                checkData['enable_4'] = false
            }
        }

        else if (type == 'enable_5')
        {
            if(enable_5 == true){
                console.log('enable_5 is true');
                $.each($(".toggle-switch-chec1"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_1'] = false;
                    }
                });

                $.each($(".toggle-switch-chec2"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_2'] = false;
                    }
                });

                $.each($(".toggle-switch-chec3"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_3'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_4'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec6"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_6'] = false;
                        
                    }
                });


                $.each($(".toggle-switch-chec7"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_7'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec8"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_8'] = false;
                        
                    }
                });


                //store the value in the data array
                checkData['enable_5'] = true;
            }
            else
            {
                checkData['enable_1'] = false
                checkData['enable_2'] = false
                checkData['enable_3'] = false
                checkData['enable_4'] = false
                checkData['enable_5'] = false
                checkData['enable_6'] = false
                checkData['enable_7'] = false
                checkData['enable_8'] = false




            }
        }

        else if (type == 'enable_6')
        {
            if(enable_6 == true){
                console.log('enable_6 is true');
                $.each($(".toggle-switch-chec1"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_1'] = false;
                    }
                });

                $.each($(".toggle-switch-chec2"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_2'] = false;
                    }
                });

                $.each($(".toggle-switch-chec3"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_3'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_4'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_4'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec5"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_5'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec7"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_7'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec8"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_8'] = false;
                        
                    }
                });


                //store the value in the data array
                checkData['enable_6'] = true;
            }
            else
            {
                checkData['enable_1'] = false
                checkData['enable_2'] = false
                checkData['enable_3'] = false
                checkData['enable_4'] = false
                checkData['enable_5'] = false
                checkData['enable_6'] = false
                checkData['enable_7'] = false
                checkData['enable_8'] = false

            }
        }


        else if (type == 'enable_7')
        {
            if(enable_7 == true){
                console.log('enable_7 is true');
                $.each($(".toggle-switch-chec1"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_1'] = false;
                    }
                });

                $.each($(".toggle-switch-chec2"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_2'] = false;
                    }
                });

                $.each($(".toggle-switch-chec3"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_3'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_4'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_4'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec5"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_5'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec6"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_6'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec8"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_8'] = false;
                        
                    }
                });


                //store the value in the data array
                checkData['enable_7'] = true;
            }
            else
            {
                checkData['enable_1'] = false
                checkData['enable_2'] = false
                checkData['enable_3'] = false
                checkData['enable_4'] = false
                checkData['enable_5'] = false
                checkData['enable_6'] = false
                checkData['enable_7'] = false
                checkData['enable_8'] = false

            }
        }

        else if (type == 'enable_8')
        {
            if(enable_8 == true){
                console.log('enable_8 is true');
                $.each($(".toggle-switch-chec1"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_1'] = false;
                    }
                });

                $.each($(".toggle-switch-chec2"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //store the value in the data array
                        checkData['enable_2'] = false;
                    }
                });

                $.each($(".toggle-switch-chec3"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_3'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_4'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec4"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_4'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec5"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_5'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec6"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_6'] = false;
                        
                    }
                });

                $.each($(".toggle-switch-chec7"), function(index, value) {
                    if($(value).data('id') == id)
                    {
                        $(value).prop('checked', false);
                        //subsscribe to the topic
                        //store the value in the data array
                        checkData['enable_7'] = false;
                        
                    }
                });




                //store the value in the data array
                checkData['enable_8'] = true;
            }
            else
            {
                checkData['enable_1'] = false
                checkData['enable_2'] = false
                checkData['enable_3'] = false
                checkData['enable_4'] = false
                checkData['enable_5'] = false
                checkData['enable_6'] = false
                checkData['enable_7'] = false
                checkData['enable_8'] = false

            }
        }
        console.log(checkData);



        var url ="/enableState/" + id + "/" ;
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                //'_token': $('input[name=_token]').val(),
                'checkData': checkData,
            },
            
            dataType: 'json',

            success: function(data) {
                console.log(data);
            }
        });



        // use the data array to update the status of the device
        // $.ajax({
        //     url: "/device/state/" + id,
        //     type: 'POST',
        //     //send data and csfr token
 
            
        //     data: {
        //         '_token': $('input[name=_token]').val(),
        //         'data': data
        //     },
        //     },
        //     dataType: 'json',
        //     success: function(data) {
        //         console.log(data);
        //         //append the data to the table
        //         $((".toggle-switch-chec1")[index]).prop('checked', data['enable_1']);
        //         $((".toggle-switch-chec2")[index]).prop('checked', data['enable_2']);
        //         $((".toggle-switch-chec3")[index]).prop('checked', data['enable_3']);
        //         $((".toggle-switch-chec4")[index]).prop('checked', data['enable_4']);
        //     },
        //     error: function(xhr, textStatus, error) {
        //         console.log(xhr.statusText);
        //         console.log(textStatus);
        //         console.log(error);
                
        //         //show error message
        //         // $("#error-message").html(data.responseJSON.message);
        //     }

        // });


        




       






 


    }
    

    
    

           

    require(['jquery'], function () {
        $(document).ready(function () {

            function setCookie(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }

            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            if (!getCookie('bottombar-hidden')) {
                $('.js-bottombar').show();
            }

            $('.js-bottombar-close').on('click', function (e) {
                $('.js-bottombar').hide();
                setCookie('bottombar-hidden', 1, 7);

                e.preventDefault();
                return false;
            });
        });
    });
</script>

{% endblock javascripts %}