{% extends "layouts/base.html" %}

{% block title %} Device Information {% endblock %} 

{% block content %}

    <div class="my-3 my-md-5">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <form action="" method="post" class="card" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-header">
                  <h3 class="card-title">Device Onboarding Editing</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 col-lg-6">
                      <div class="form-group">
                        <label class="form-label">Name of the Device</label>
                        <input type="text" class="form-control" name="name" value="{{ val.name }}" >
                        
                        
                      </div>

                      <div class="form-group">
                        <label class="form-label">Device Type</label>
                        <input type="text" class="form-control" name="device_type" value="{{val.device_type}}">
                      </div>

                      <div class="form-group">                    
                        <div class="row">
                          <div class="col-md-7">
                            <label class="form-label">Lane 1</label>
                            <input type="number" class="form-control" name="lane_1" value="{{val.lane_1}}">
                          </div>

                          <div class="col-md-5">                           
                              <label class="form-label">Enable Lane 1</label>
                              <label class="custom-switch" style="padding-top: 10px">
                                <!-- Get the value of  enable_1 custom-switch-->
                                <input type="checkbox" name="enable_1" class="custom-switch-input" {% if val.enable_1 == 1 %}checked{% endif %} id="custom-enable1">
                                <span class="custom-switch-indicator"></span>
                                

                              </label>                                           
                          </div>                    
                        </div>
                      </div>


                      <div class="form-group">                    
                        <div class="row">
                          <div class="col-md-7">
                            <label class="form-label">Lane 3</label>
                            <input type="number" class="form-control" name="lane_3" value="{{val.lane_3}}">
                          </div>

                          <div class="col-md-5">                           
                              <label class="form-label">Enable Lane 3</label>
                              <label class="custom-switch" style="padding-top: 10px">
                                <input type="checkbox" name="enable_3" class="custom-switch-input" {% if val.enable_3 == 1 %}checked{% endif %} id="custom-enable3">
                                <!-- <input type="checkbox" name="enable_3" class="custom-switch-input" id="customChange" value="{{val.enable_3}}"> -->
                                <span class="custom-switch-indicator"></span>                            
                              </label>                                           
                          </div>                    
                        </div>
                      </div>

                      {% if val.lane_5 != null %}
                      <div class="form-group">                    
                        <div class="row">
                          <div class="col-md-7">
                            <label class="form-label">Lane 5</label>
                            <input type="number" class="form-control" name="lane_5" value="{{val.lane_5}}">
                          </div>

                          
                          <div class="col-md-5">                           
                            <label class="form-label">Enable Lane 5</label>
                            <label class="custom-switch" style="padding-top: 10px">
                              <input type="checkbox" name="enable_5" class="custom-switch-input" {% if val.enable_5 == 1 %}checked{% endif %} id="custom-enable3">
                              <!-- <input type="checkbox" name="enable_3" class="custom-switch-input" id="customChange" value="{{val.enable_3}}"> -->
                              <span class="custom-switch-indicator"></span>                            
                            </label>                                           
                          </div>
                        </div>
                      </div>
                      {% endif %} 

                      {% if val.lane_7 != null %}
                      <div class="form-group">                    
                        <div class="row">
                          <div class="col-md-7">
                            <label class="form-label">Lane 7</label>
                            <input type="number" class="form-control" name="lane_7" value="{{val.lane_7}}">
                          </div>

                          
                          <div class="col-md-5">                           
                            <label class="form-label">Enable Lane 5</label>
                            <label class="custom-switch" style="padding-top: 10px">
                              <input type="checkbox" name="enable_7" class="custom-switch-input" {% if val.enable_7 == 1 %}checked{% endif %} id="custom-enable3">
                              <!-- <input type="checkbox" name="enable_3" class="custom-switch-input" id="customChange" value="{{val.enable_3}}"> -->
                              <span class="custom-switch-indicator"></span>                            
                            </label>                                           
                          </div>
                        </div>
                      </div>
                      {% endif %}                     


                    





                      
                      <div class="form-group">
                        <div class="form-label">Location</div>
                        <div class="row">
                          <div class="col-md-6">
                            <input type="text" class="form-control" name="state" placeholder="State" value="{{val.state}}">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" name="city" placeholder="City" value="{{val.city}}">
                          </div>
                        </div>
                      </div>


                  
                      <div class="form-group">
                        <label class="form-label">Description <span class="form-label-small">56/100</span></label>
                        <textarea class="form-control" name="description" rows="6" >{{val.description}}</textarea>
                      </div>

                      <div class="form-group">
                        <div class="form-label">Enable</div>
                          <label class="custom-switch">
                            <input type="checkbox" name="enable" class="custom-switch-input" {% if val.enable == 1 %}checked{% endif %}>
                            <span class="custom-switch-indicator"></span>
                            
                          </label>
                      </div>

 
 
  
                    </div>
                    <div class="col-md-6 col-lg-6">

                      <div class="form-group">
                        <label class="form-label">Device Images</label>
                        <!--Get the value of devices from static/assets/img --> 

                        <input type="file" class="form-control" name="device_images" id="customFile" multiple value="static/assets/img/{{val.device_images}}">   
                      </div>

                      

                      <div class="form-group">
                        <label class="form-label">Device ID</label>
                        <input type="number" class="form-control" name="device_id" value="{{val.device_id}}" >
                      </div>

                      
                      <div class="form-group">                    
                        <div class="row">
                          <div class="col-md-7">
                            <label class="form-label">Lane 2</label>
                            <input type="number" class="form-control" name="lane_2" value="{{val.lane_2}}">
                          </div>

                          <div class="col-md-5">                           
                              <label class="form-label">Enable Lane 2</label>
                              <label class="custom-switch" style="padding-top: 10px">
                                <input type="checkbox" name="enable_1" class="custom-switch-input" {% if val.enable_3 == 1 %}checked{% endif %} id ="custom-enable2">
                                <!-- <input type="checkbox" name="enable_2" class="custom-switch-input" id="customChange" value="{{value.enable_2}}"> -->
                                <span class="custom-switch-indicator"></span>                            
                              </label>                                           
                          </div>                    
                        </div>
                      </div>
                      <div class="form-group">                    
                        <div class="row">
                          <div class="col-md-7">
                            <label class="form-label">Lane 4</label>
                            <input type="number" class="form-control" name="lane_4" value="{{val.lane_4}}">
                          </div>

                          <div class="col-md-5">                           
                              <label class="form-label">Enable Lane 4</label>
                              <label class="custom-switch" style="padding-top: 10px">
                                
                                <input type="checkbox" name="enable_4" class="custom-switch-input" {% if val.enable_4 == 1 %}checked{% endif %} id="custom-enable4">
                                <!-- <input type="checkbox" name="enable_2" class="custom-switch-input" id="customChange"  value="{{val.enable_4}}"> -->

                                <span class="custom-switch-indicator"></span>                            
                              </label>                                           
                          </div>                    
                        </div>
                      </div>

                      {% if val.lane_6 != null %}
                      <div class="form-group">                    
                        <div class="row">
                          <div class="col-md-7">
                            <label class="form-label">Lane 6</label>
                            <input type="number" class="form-control" name="lane_6" value="{{val.lane_6}}">
                          </div>

                          
                          <div class="col-md-5">                           
                            <label class="form-label">Enable Lane 5</label>
                            <label class="custom-switch" style="padding-top: 10px">
                              <input type="checkbox" name="enable_6" class="custom-switch-input" {% if val.enable_6 == 1 %}checked{% endif %} id="custom-enable3">
                              <!-- <input type="checkbox" name="enable_3" class="custom-switch-input" id="customChange" value="{{val.enable_3}}"> -->
                              <span class="custom-switch-indicator"></span>                            
                            </label>                                           
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      
                      {% if item.lane_8 != null %}
                      <div class="form-group">                    
                        <div class="row">
                          <div class="col-md-7">
                            <label class="form-label">Lane 8</label>
                            <input type="number" class="form-control" name="lane_8" value="{{val.lane_8}}">
                          </div>

                          
                          <div class="col-md-5">                           
                            <label class="form-label">Enable Lane 5</label>
                            <label class="custom-switch" style="padding-top: 10px">
                              <input type="checkbox" name="enable_8" class="custom-switch-input" {% if val.enable_8 == 1 %}checked{% endif %} id="custom-enable3">
                              <!-- <input type="checkbox" name="enable_3" class="custom-switch-input" id="customChange" value="{{val.enable_3}}"> -->
                              <span class="custom-switch-indicator"></span>                            
                            </label>                                           
                          </div>
                        </div>
                      </div>
                      {% endif %}  

                      <div class="form-group">
                        <div class="form-label">Coordinates</div>
                        <div class="row">
                          <div class="col-md-6">
                            <input type="number" class="form-control" name="lat"  value="{{val.lat}}">
                          </div>
                          <div class="col-md-6">
                            <input type="number" class="form-control" name="lng"  value="{{val.lng}}">
                          </div>
                        </div>
                      </div>

 

                      


                
                    </div>


                  
                </div>
              </div>
              <div class="card-footer text-right">
                <div class="d-flex">
                  <a href="javascript:void(0)" class="btn btn-link">Cancel</a>
                  <button type="submit" class="btn btn-primary ml-auto">Device Edit</button>
                </div>
              </div>
            </form>
            <script>
              require(['jquery', 'selectize'], function ($, selectize) {
                  $(document).ready(function () {
                      $('#input-tags').selectize({
                          delimiter: ',',
                          persist: false,
                          create: function (input) {
                              return {
                                  value: input,
                                  text: input
                              }
                          }
                      });
              
                      $('#select-beast').selectize({});

              


                      $("#select-users").change(function () {
                        var numInputs = $(this).val();
                        $('#inputArea').html('');
                        for (var i = 0; i < numInputs; i++)
                        {
                          var j = i*1+5;
                          var $section =  $('<div class="form-group"><label  class="form-label">Lane  '+j+'</label><input type="number" name="frequency_'+j+' " class="form-control" required placeholder="Lane '+j+'"></div>');
                          $("#inputArea").append($section);
                          
                        }
                      });

  
              
                      
                      $('#select-countries').selectize({
                          render: {
                              option: function (data, escape) {
                                  return '<div>' +
                                      '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                      '<span class="title">' + escape(data.text) + '</span>' +
                                      '</div>';
                              },
                              item: function (data, escape) {
                                  return '<div>' +
                                      '<span class="image"><img src="' + data.image + '" alt=""></span>' +
                                      escape(data.text) +
                                      '</div>';
                              }
                          }
                      });
                  });
              });

              

            </script>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Guideline Details</Details></h3>
              </div>
              <div class="card-body">               
                <ul class="list-unstyled list-separated">
                  <li class="list-separated-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <div>
                          <a href="javascript:void(0)" class="text-inherit"><b>Name:</b></a> Enter the name for the device.
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="list-separated-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <div>
                          <a href="javascript:void(0)" class="text-inherit"><b>Image :</b></a> Enter the Image for the device.
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="list-separated-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <div>
                          <a href="javascript:void(0)" class="text-inherit"><b>Lane:</b></a> Set lane Ranges for the devices
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="list-separated-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <div>
                          <a href="javascript:void(0)" class="text-inherit"><b>Enable:</b></a> Enable or Disable the device.
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <script>
              require(['input-mask']);
            </script>
         
          </div>
          <div class="col-lg-8">
            
          </div>
        </div>
      </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}
