{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

  <div class="my-3 my-md-5">

      <div class="container">

        <div class="page-header">
          <h1 class="page-title">
            Dashboard
          </h1>
        </div>

        <div class="row row-cards">
          <div class="col-6 col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body p-3 text-center">
                 {% if request.user.is_staff %}
                <div class="h1 m-0">{{alldevices}}</div>
                <div class="text-muted mb-4">Devices</div>
                {% else %}
                <div class="h1 m-0">{{devices_count}}</div>
                <div class="text-muted mb-4"> Connected Devices</div>
                {% endif %}


              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body p-3 text-center">
                {% if request.user.is_staff %}
                <div class="h1 m-0">{{advancedusers}}</div>
                <div class="text-muted mb-4">Advanced Users</div>
                {% else %}
                <div class="h1 m-0">{{user_device_connections}}</div>
                <div class="text-muted mb-4">Total Device Connections</div>
                {% endif %}
                
              </div>
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body p-3 text-center">
                {% if request.user.is_staff %}
                <div class="h1 m-0">{{normalusers}}</div>
                <div class="text-muted mb-4">Normal Users</div>
                {% else %}
                <div class="h1 m-0">200 hrs</div>
                <div class="text-muted mb-4">Monthly Usage</div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-lg-3">
            <div class="card">
              <div class="card-body p-3 text-center">
                {% if request.user.is_staff %}
                <div class="h1 m-0">{{allusers}}</div>
                <div class="text-muted mb-4">Admins</div>
                {% else %}
                <div class="h1 m-0">1500 hrs</div>
                <div class="text-muted mb-4">Yearly Usage</div>
                {% endif %}
                
              </div>
            </div>
          </div>


        </div>

        <div class="row row-cards row-deck">

          <div class="col-md-6 col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Devices Usage Activity</h3>
                  </div>
                  <div id="chart-development-activity" style="height: 10rem"></div>
                  <div class="table-responsive">
                    <table class="table card-table table-striped table-vcenter">
                      <thead>
                        <tr>
                          <th colspan="2">User</th>
                          <th>Device</th>
                          <th>Date</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="avatar">User</span></td>
                          <td></td>
                          <td></td>
                          <td class="text-nowrap"></td>
                          <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                        </tr>




                      </tbody>
                    </table>
                  </div>
                </div>
                <script>
                  require(['c3', 'jquery'], function(c3, $) {
                    $(document).ready(function(){
                      var chart = c3.generate({
                        bindto: '#chart-development-activity', // id of chart wrapper
                        data: {
                          columns: [
                              // each columns data
                            ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                          ],
                          type: 'area', // default type of chart
                          groups: [
                            [ 'data1', 'data2', 'data3']
                          ],
                          colors: {
                            'data1': tabler.colors["blue"]
                          },
                          names: {
                              // name of each serie
                            'data1': 'Devices'
                          }
                        },
                        axis: {
                          y: {
                            padding: {
                              bottom: 0,
                            },
                            show: false,
                              tick: {
                              outer: false
                            }
                          },
                          x: {
                            padding: {
                              left: 0,
                              right: 0
                            },
                            show: false
                          }
                        },
                        legend: {
                          position: 'inset',
                          padding: 0,
                          inset: {
                                      anchor: 'top-left',
                            x: 20,
                            y: 8,
                            step: 10
                          }
                        },
                        tooltip: {
                          format: {
                            title: function (x) {
                              return '';
                            }
                          }
                        },
                        padding: {
                          bottom: 0,
                          left: -1,
                          right: -1
                        },
                        point: {
                          show: false
                        }
                      });
                    });
                  });
                </script>
              </div>

              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Monthly Device Usage</h3>
                  </div>
                  <div class="card-body">
                    <div id="chart-temperature" style="height: 16rem"></div>
                  </div>
                </div>
                <script>
                  require(['c3', 'jquery'], function(c3, $) {
                      $(document).ready(function(){
                          var chart = c3.generate({
                              bindto: '#chart-temperature', // id of chart wrapper
                              data: {
                                  columns: [
                                      // each columns data
                                      ['data1', 7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
                                      ['data2', 3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                                  ],
                                  labels: true,
                                  type: 'line', // default type of chart
                                  colors: {
                                      'data1': tabler.colors["blue"],
                                      'data2': tabler.colors["green"]
                                  },
                                  names: {
                                      // name of each serie
                                      'data1': 'Normal User',
                                      'data2': 'Advanced User'
                                  }
                              },
                              axis: {
                                  x: {
                                      type: 'category',
                                      // name of each category
                                      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
                                  },
                              },
                              legend: {
                                  show: false, //hide legend
                              },
                              padding: {
                                  bottom: 0,
                                  top: 0
                              },
                          });
                      });
                  });
                </script>
              </div>
              <!-- <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="card-value float-right text-blue">+5%</div>
                    <h3 class="mb-1">{{activeusers}}</h3>
                    <div class="text-muted">Users Active</div>
                  </div>
                  <div class="card-chart-bg">
                    <div id="chart-bg-users-1" style="height: 100%"></div>
                  </div>
                </div>
                <script>
                  require(['c3', 'jquery'], function (c3, $) {
                    $(document).ready(function() {
                      var chart = c3.generate({
                        bindto: '#chart-bg-users-1',
                        padding: {
                          bottom: -10,
                          left: -1,
                          right: -1
                        },
                        data: {
                          names: {
                            data1: 'Users active'
                          },
                          columns: [
                            ['data1', 30, 40, 10, 40, 12, 22, 40]
                          ],
                          type: 'area'
                        },
                        legend: {
                          show: false
                        },
                        transition: {
                          duration: 0
                        },
                        point: {
                          show: false
                        },
                        tooltip: {
                          format: {
                            title: function (x) {
                              return '';
                            }
                          }
                        },
                        axis: {
                          y: {
                            padding: {
                              bottom: 0,
                            },
                            show: false,
                            tick: {
                              outer: false
                            }
                          },
                          x: {
                            padding: {
                              left: 0,
                              right: 0
                            },
                            show: false
                          }
                        },
                        color: {
                          pattern: ['#467fcf']
                        }
                      });
                    });
                  });
                </script>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="card-value float-right text-red">-3%</div>
                    <h3 class="mb-1">423</h3>
                    <div class="text-muted">Users online</div>
                  </div>
                  <div class="card-chart-bg">
                    <div id="chart-bg-users-2" style="height: 100%"></div>
                  </div>
                </div>
                <script>
                  require(['c3', 'jquery'], function (c3, $) {
                    $(document).ready(function() {
                      var chart = c3.generate({
                        bindto: '#chart-bg-users-2',
                        padding: {
                          bottom: -10,
                          left: -1,
                          right: -1
                        },
                        data: {
                          names: {
                            data1: 'Users online'
                          },
                          columns: [
                            ['data1', 30, 40, 10, 40, 12, 22, 40]
                          ],
                          type: 'area'
                        },
                        legend: {
                          show: false
                        },
                        transition: {
                          duration: 0
                        },
                        point: {
                          show: false
                        },
                        tooltip: {
                          format: {
                            title: function (x) {
                              return '';
                            }
                          }
                        },
                        axis: {
                          y: {
                            padding: {
                              bottom: 0,
                            },
                            show: false,
                            tick: {
                              outer: false
                            }
                          },
                          x: {
                            padding: {
                              left: 0,
                              right: 0
                            },
                            show: false
                          }
                        },
                        color: {
                          pattern: ['#e74c3c']
                        }
                      });
                    });
                  });
                </script>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="card-value float-right text-green">-3%</div>
                    <h3 class="mb-1">423</h3>
                    <div class="text-muted">Users online</div>
                  </div>
                  <div class="card-chart-bg">
                    <div id="chart-bg-users-3" style="height: 100%"></div>
                  </div>
                </div>
                <script>
                  require(['c3', 'jquery'], function (c3, $) {
                    $(document).ready(function() {
                      var chart = c3.generate({
                        bindto: '#chart-bg-users-3',
                        padding: {
                          bottom: -10,
                          left: -1,
                          right: -1
                        },
                        data: {
                          names: {
                            data1: 'Users online'
                          },
                          columns: [
                            ['data1', 30, 40, 10, 40, 12, 22, 40]
                          ],
                          type: 'area'
                        },
                        legend: {
                          show: false
                        },
                        transition: {
                          duration: 0
                        },
                        point: {
                          show: false
                        },
                        tooltip: {
                          format: {
                            title: function (x) {
                              return '';
                            }
                          }
                        },
                        axis: {
                          y: {
                            padding: {
                              bottom: 0,
                            },
                            show: false,
                            tick: {
                              outer: false
                            }
                          },
                          x: {
                            padding: {
                              left: 0,
                              right: 0
                            },
                            show: false
                          }
                        },
                        color: {
                          pattern: ['#5eba00']
                        }
                      });
                    });
                  });
                </script>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="card-value float-right text-yellow">9%</div>
                    <h3 class="mb-1">423</h3>
                    <div class="text-muted">Users online</div>
                  </div>
                  <div class="card-chart-bg">
                    <div id="chart-bg-users-4" style="height: 100%"></div>
                  </div>
                </div>
                <script>
                  require(['c3', 'jquery'], function (c3, $) {
                    $(document).ready(function() {
                      var chart = c3.generate({
                        bindto: '#chart-bg-users-4',
                        padding: {
                          bottom: -10,
                          left: -1,
                          right: -1
                        },
                        data: {
                          names: {
                            data1: 'Users online'
                          },
                          columns: [
                            ['data1', 30, 40, 10, 40, 12, 22, 40]
                          ],
                          type: 'area'
                        },
                        legend: {
                          show: false
                        },
                        transition: {
                          duration: 0
                        },
                        point: {
                          show: false
                        },
                        tooltip: {
                          format: {
                            title: function (x) {
                              return '';
                            }
                          }
                        },
                        axis: {
                          y: {
                            padding: {
                              bottom: 0,
                            },
                            show: false,
                            tick: {
                              outer: false
                            }
                          },
                          x: {
                            padding: {
                              left: 0,
                              right: 0
                            },
                            show: false
                          }
                        },
                        color: {
                          pattern: ['#f1c40f']
                        }
                      });
                    });
                  });
                </script>
              </div> -->
            </div>
          </div>
          <div class="col-12">
            {%if user.staff%}
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"> User Conneted to Devices</h3>
              </div>
              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      <th class="w-1">No.</th>
                      <th>User Name</th>
                      <th>Device Name</th>
                      <th>Lane 1</th>
                      <th>Lane 2</th>
                      <th>Lane 3</th>
                      <th>Lane 4</th>
                      <th>City</th>
                      <th>State</th>
                      <!--<th>Status</th>-->
                      <th>Actions</th>
                      
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for userdevice in userdevices %}
                    <tr>                      
                      <td><span class="text-muted">{{userdevice.id}}</span></td>
                      <td><a href="#" class="text-inherit">
                        {{userdevice.user_detail.full_name}}
                      </a></td>
                      <td>
                        {{userdevice.device_name}}
                        
                      </td>
                      <td>
                        {{userdevice.device_name.lane_1}}
                        {% if userdevice.device_name.enable_1 == 1 %}
                        <span class="badge badge-success">Enabled</span>
                        {% else %}
                        <span class="badge badge-danger">Disabled</span>
                        {% endif %}
                          
                      </td>
                      <td>
                        {{userdevice.device_name.lane_2}}
                        {% if userdevice.device_name.enable_2 == 1 %}
                        <span class="badge badge-success">Enabled</span>
                        {% else %}
                        <span class="badge badge-danger">Disabled</span>
                        {% endif %}
 
                        
                      </td>

                      <td>
                        {{userdevice.device_name.lane_3}}
                        {% if userdevice.device_name.enable_3 == 1 %}
                        <span class="badge badge-success">Enabled</span>
                        {% else %}
                        <span class="badge badge-danger">Disabled</span>
                        {% endif %}
                        
                      </td>
                      <td>
                        {{userdevice.device_name.lane_4}}
                        {% if userdevice.device_name.enable_4 == 1 %}
                        <span class="badge badge-success">Enabled</span>
                        {% else %}
                        <span class="badge badge-danger">Disabled</span>
                        {% endif %}                       
                      </td>

                      <td>
                        {{userdevice.device_name.city}}                     
                      </td>
                      <td>
                        {{userdevice.device_name.state}}
                        
                      </td>
                      <!-- <td>
                        {{userdevice.device_status}}                      
                      </td> -->

                      <td class="text-right">
                        <!--<a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>-->
                        <div class="dropdown">
                          <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-check"></i> Approve</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-times"></i> Reject</a>
                            <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-pencil"></i> Edit</a>
                            <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-trash"></i> Delete</a> -->
                          </div>
                        </div>
                      </td>
                      <!-- <td>
                        <a class="icon" href="javascript:void(0)">
                          <i class="fe fe-edit"></i>
                        </a>
                      </td> -->

                    </tr>
                    {% endfor %}


                  </tbody>
                </table>
                <script>
                  require(['datatables', 'jquery'], function(datatable, $) {
                        $('.datatable').DataTable();
                      });
                </script>
              </div>
            </div>
            {%endif%}
            
            {%if user.normal_user or user.advanced_user%}
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Devices Connected to</h3>
              </div>
              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      <th class="w-1">No.</th>
                      <th>User Name</th>
                      <th>Device Name</th>
                      <th>Lane 1</th>
                      <th>Lane 2</th>
                      <th>Lane 3</th>
                      <th>Lane 4</th>
                      <th>City</th>
                      <th>State</th>
                      <!--<th>Status</th>-->
                      <th>Actions</th>
                      
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for userdevice in userdevices %}
                    <tr>                      
                      <td><span class="text-muted">{{userdevice.id}}</span></td>
                      <td><a href="#" class="text-inherit">
                        {{userdevice.user_detail.full_name}}
                      </a></td>
                      <td>
                        {{userdevice.device_name}}
                        
                      </td>
                      <td>
                        {{userdevice.device_name.lane_1}}
                        {% if userdevice.device_name.enable_1 == 1 %}
                        <span class="badge badge-success">Enabled</span>
                        {% else %}
                        <span class="badge badge-danger">Disabled</span>
                        {% endif %}
                          
                      </td>
                      <td>
                        {{userdevice.device_name.lane_2}}
                        {% if userdevice.device_name.enable_2 == 1 %}
                        <span class="badge badge-success">Enabled</span>
                        {% else %}
                        <span class="badge badge-danger">Disabled</span>
                        {% endif %}
 
                        
                      </td>

                      <td>
                        {{userdevice.device_name.lane_3}}
                        {% if userdevice.device_name.enable_3 == 1 %}
                        <span class="badge badge-success">Enabled</span>
                        {% else %}
                        <span class="badge badge-danger">Disabled</span>
                        {% endif %}
                        
                      </td>
                      <td>
                        {{userdevice.device_name.lane_4}}
                        {% if userdevice.device_name.enable_4 == 1 %}
                        <span class="badge badge-success">Enabled</span>
                        {% else %}
                        <span class="badge badge-danger">Disabled</span>
                        {% endif %}                       
                      </td>

                      <td>
                        {{userdevice.device_name.city}}                     
                      </td>
                      <td>
                        {{userdevice.device_name.state}}
                        
                      </td>
                      <!-- <td>
                        {{userdevice.device_status}}                      
                      </td> -->

                      <td class="text-right">
                        <!--<a href="javascript:void(0)" class="btn btn-secondary btn-sm">Manage</a>-->
                        <div class="dropdown">
                          <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-check"></i> Approve</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-times"></i> Reject</a>
                            <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-pencil"></i> Edit</a>
                            <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-trash"></i> Delete</a> -->
                          </div>
                        </div>
                      </td>
                      <!-- <td>
                        <a class="icon" href="javascript:void(0)">
                          <i class="fe fe-edit"></i>
                        </a>
                      </td> -->

                    </tr>
                    {% endfor %}


                  </tbody>
                </table>
                <script>
                  require(['datatables', 'jquery'], function(datatable, $) {
                        $('.datatable').DataTable();
                      });
                </script>
              </div>
            </div>
            {%endif%}


          </div>
        </div>

    </div>

    <div class="bottombar js-bottombar" style="display: none">
      <a href="#" class="bottombar-close js-bottombar-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </a>
      <div class="container position-relative d-flex align-items-center">
        <a href="https://gumroad.com/l/tabler-email?utm_source=demo" class="bottombar-image">
          <picture>
            <source srcset="https://tabler.io/img/bottombar.webp" type="image/webp">
            <source srcset="https://tabler.io/img/bottombar.png" type="image/jpeg">
            <img src="https://tabler.io/img/bottombar.png" alt="">
          </picture>
        </a>
        <div class="d-lg-flex flex-fill align-items-center">
          <div class="mr-2">
            50 eye-catching templates tested in 90+ email clients. Compose your own, mobile optimized email message in less than 5 minutes!
          </div>
          <div class=" ml-auto mt-2 mt-lg-0">
            <a href="https://gumroad.com/l/tabler-email?utm_source=demo" class="btn btn-sm btn-green text-nowrap" target="_blank">More info</a>
          </div>
        </div>
      </div>
    </div>

  </div>




 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    require(['jquery'], function () {
      $(document).ready(function () {
    
        function setCookie(name,value,days) {
          var expires = "";
          if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
          }
          document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
    
        function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
        }
    
        if (!getCookie('bottombar-hidden')) {
          $('.js-bottombar').show();
        }
    
        $('.js-bottombar-close').on('click', function (e) {
          $('.js-bottombar').hide();
          setCookie('bottombar-hidden', 1, 7);
    
          e.preventDefault();
          return false;
        });
      });
    });
  </script>

{% endblock javascripts %}
