{% extends "layouts/base-fullscreen.html" %}

{% block title %} Password Reset Confirm {% endblock %} 

{% block content %}

  <div class="row">
    <div class="col col-login mx-auto">
        <!--header Forgot password-->
        <div class="text-left mb-6">
            <h1 class="font-weight-bold mt-3">Password Reset Confirm</h1>
        </div>

      <div class="text-center mb-6">
        <p>Please Enter Your New Password</p>
      </div>

      <!--reset password form-->

      
      <form class="card" action="" method="post">

        {% csrf_token %}

        <div class="card-body p-6">
            <!---->
            <!--password reset confirm password-->
            <div class="form-group">
                <label class="form-label">Password</label>
                {{ form.password }}
            </div>
            <!--Confirm Password-->
            <div class="form-group">
                <label class="form-label">Confirm Password</label>
                {{ form.confirm_password }}
            </div>

  


          
          <br />


          <div class="form-footer">
            <button type="submit" name="reset password" class="btn btn-primary btn-block">Reset password</button>
          </div>
        </div>
      </form>

 
  
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}