{% extends "layouts/base-fullscreen.html" %}

{% block title %} Forgot Password {% endblock %} 

{% block content %}

  <div class="row">
    <div class="col col-login mx-auto">
        <!--header Forgot password-->
        <div class="text-left mb-6 ">
            <h1 class="font-weight-bold mt-3">Forgot Password</h1>
        </div>

      <div class="text-center mb-6">
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            <br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p
      </div>

      <!--reset password form-->

      

 
  
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}